body {
  background-color: #f9faf8;
  font-family: "Roboto", sans-serif;
  display: flex;
  color: #1f2937;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header {
  width: 100%;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav,
.hero {
  width: 1200px;
}

.portfolio-sections,
.quote {
    width: 960px;
}

.logo,
.nav ul,
.hero-cta,
.hero-image {
  padding: 0 20px;
}

button {
  border-radius: 0.25em;
  border: none;
  padding: 10px 25px;
  color: #e5e7eb;
}

/******* nav *******/

.nav {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  flex-wrap: none;
}

.logo {
  margin-right: auto;
  font-size: 24px;
}

.nav ul {
  margin-left: auto;
  display: flex;
  gap: 40px;
}

.nav li {
  list-style-type: none;
}

.nav a {
  color: #f9faf8;
}

/******* hero-container *******/

.hero-container {
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 80px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.hero-cta {
  align-self: flex-start;
}

.btn-inverse {
  background-color: #3882f6;
}

.hero-cta,
.hero-image {
  flex: 1;
}

.hero-image img {
  width: 100%;
  height: 200px;
}

/******* portfolio *******/

.portfolio {
    padding: 80px;
}

.portfolio h3 {
    font-size: 36px;
    text-align: center;
    padding-bottom: 20px;
}

.portfolio-sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 0 80px;
}

.portfolio-images {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.portfolio-images img {
    border: #3882f6 3px solid;
    border-radius: 0.5em;
}


/******* quote *******/

.quote-container {
    background-color: #e5e7eb;
    width: 100%;
    padding: 120px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    text-align: center;
    display: flex;
    flex-direction: column;   
}

.quote blockquote {
    margin: 0;
    text-align: justify;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote figcaption {
    text-align: right;
    font-weight: 600;
}
