body {
  background-color: #e5e7eb;
  font-family: 'Roboto', sans-serif;
  display: flex;
}

a {
    text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header {
    width: 100%;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}


/******* nav *******/

.nav {
    width: 1400px;
    display: flex;
    align-items: center;
    justify-items: flex-start;
    flex-wrap: none;
}

.logo, 
.nav ul {
    padding: 0 20px;
}

.logo {
    margin-right: auto;
    font-size: 24px;
}

.nav ul {
    margin-left: auto;
    display: flex;
    gap: 40px;
}

.nav li {
    list-style-type: none;
}

.nav a {
    color: #f9faf8;
}


/******* hero *******/

.hero {
    background-color: #1f2937;
    width: 100%;
    display: flex;
}


